{{!< default}}

<h1 style="text-align: center;" id="posts-headline">Writings.</h1>

{{#foreach posts}}
    <article class="{{post_class}}">
      <header>
          <h1 id="post-title">{{{title}}}</h1>
      </header>

      <div id="post-content" class="{{post_class}}">
        {{content}}
      </div>
    </article>
{{/foreach}}

{{pagination}}
